.about {
    width: 85%;
    text-align: center;
    margin: auto;
}

h1 {
    font-weight: bold;
}

.content {
    text-align: start;
    margin-bottom: 20px;
}

.scroll-top-btn {
    position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid;
  background-color: #fe4a55;
  color:#fff
}

.scroll-top-btn:hover {
    background-color: var(--blackColor);
}

.register-btn {
  /* Add your styling for the buttons */
  position: fixed;
  bottom: 70px;
  right: 20px;
  z-index: 2;
  border: 1px solid;
  background-color: #fe4a55;
  color: #fff;
  padding: 6px 13px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
}

.register-btn:hover {
    background-color: var(--blackColor);
}

.banner-inner-area {
    
    width: 85%;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;

    .row {
        margin: {
            left: 0;
            right: 0;
        };
        .col-lg-4 {
            padding: {
                left: 0;
                right: 0;
            };
            &:last-child {
                .single-banner-box {
                    border-right: none;
                }
            }
            &:nth-child(1) {
                .single-banner-box {
                    border-radius: 10px 0 0 10px;
                }
            }
            &:nth-child(3) {
                .single-banner-box {
                    border-radius: 0 10px 10px 0;
                }
            }
        }
    }
}

.single-banner-box {
    background-color: lightcyan;
    border-right: 1px solid #eeeeee;
    background-color: var(--whiteColor);
    padding: 30px 30px 30px 90px;
    position: relative;

    .icon {
        position: absolute;
        left: 30px;
        top: 50%;
        transform: translateY(-50%);
        line-height: 1;
        transition: var(--transition);
        font-size: 45px;

        i {
            &.flaticon-world {
                font-size: 40px;
            }
        }
    }
    h3 {
        margin-bottom: 5px;
        font: {
            size: 21px;
            weight: 700;
        };
    }
    &:hover {
        .icon {
            color: var(--mainColor);
        }
    }
}

//Feature Css 
.education {
    background-image: url('../../../../assets/login-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}

.single-features-box {
    text-align: center;
    margin-bottom: 30px;
    border-radius: 8px;
    background-color: #f9f9f9;
    padding: 30px 31px;
    transition: var(--transition);
    margin-left: 20px;

    .icon {
        font-size: 50px;
        line-height: 1;
        margin-bottom: 15px;
    }
    h3 {
        margin-bottom: 15px;
        font: {
            size: 22px;
            weight: 800;
        };
    }
    p {
        margin-bottom: 12px;
    }
    .link-btn {
        display: inline-block;
        color: var(--mainColor);
        font: {
            size: 15px;
            weight: 700;
        };
        &:hover {
            color: var(--blackColor);
        }
    }
    &:hover {
        transform: translateY(-10px);
    }
    &.without-padding {
        text-align: start;
        padding: 0;
        background-color: transparent;

        p {
            max-width: 315px;
        }
    }
}
.features-box {
    z-index: 1;
    padding: 35px;
    position: relative;
    border-radius: 5px;
    margin-bottom: 30px;
    transition: var(--transition);
    background-color: var(--whiteColor);

    .icon {
        font-size: 50px;
        line-height: 1;
        margin-bottom: 15px;
    }
    h3 {
        margin-bottom: 15px;
        font: {
            size: 22px;
            weight: 800;
        };
    }
    p {
        margin-bottom: 12px;
    }
    .link-btn {
        display: inline-block;
        color: var(--mainColor);
        font: {
            size: 15px;
            weight: 700;
        };
        &:hover {
            color: var(--blackColor);
        }
    }
    .back-icon {
        top: 20px;
        right: 20px;
        opacity: .05;
        line-height: 1;
        font-size: 120px;
        position: absolute;
    }
    &:hover {
        transform: translateY(-10px);
    }
}

.section-header {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}

.course {
    display: flex;
}

.course-item {
    width: 600px;
    margin-left: 50px;
}

.profile {
    margin-top: 10px;
    margin-bottom: 10px;
    h3 {
        margin-bottom: 10px;
        strong {
            color: var(--mainColor);
        }
    }
}

.courses {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    &-card {
        display: flex;
        align-items: center;
        border: 1px solid #000;
        border-radius: 10px;
        padding: 10px 20px;
        width: 100%;
        margin-left: 30px;
        margin-right: 30px;
        &:hover {
            color: var(--mainColor);
            h4 {
                color: var(--mainColor);
            }
        }
    }
}

@media only screen and (max-width: 767px) {

    .single-features-box {
        padding: 20px 15px;

        .icon {
            font-size: 40px;
        }
        h3 {
            margin-bottom: 12px;
            font-size: 18px;
        }
        .link-btn {
            margin-top: 3px;
            font-size: 14.5px;
        }
        &:hover {
            transform: translateY(0);
        }
        &.without-padding {
            text-align: center;
        }
    }
    .features-box {
        text-align: center;
        padding: 20px 15px;

        h3 {
            font-size: 17px;
            margin-bottom: 12px;
        }
        .icon {
            font-size: 40px;
        }
        .link-btn {
            font-size: 14px;
        }
    }

    .course {
        display: block;
        margin: auto;
    }

    .course-item {
        width: 100%;
    }

}
@media only screen and (min-width: 576px) and (max-width: 767px) {

}
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .single-features-box {
        padding: 25px;

        h3 {
            margin-bottom: 13px;
            font-size: 19px;
        }
        .icon {
            font-size: 35px;
            margin-bottom: 17px;
        }
        .link-btn {
            font-size: 14px;
        }
        &.without-padding {
            text-align: center;
        }
    }
    .features-box {
        padding: 30px;

        h3 {
            font-size: 19px;
        }
    }

}
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .single-features-box {
        padding: 30px 15px;

        .icon {
            font-size: 40px;
        }
        h3 {
            font-size: 20px;
        }
    }

}
@media only screen and (min-width: 1200px) and (max-width: 1355px) {

}

// Online Training Section 3 
@import "../../common/courses/courses.component.scss";

// Feedback 
@import "../../common/testimonials/testimonials.component.scss";

.testimonials-area {
    background-image: url(../../../../assets/feedback-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.feedback-title {
    color: #fff;
}