<app-index-navbar></app-index-navbar>
<app-index-hero></app-index-hero>
<div>
    <div class="banner-inner-area content">
        <div class="row justify-content-center">
            <div
                class="col-lg-4 col-md-6 col-sm-6"
                *ngFor="let content of online.bannerBottomBoxes.slice(0, 3)"
            >
                <div class="single-banner-box">
                    <div class="icon">
                        <i class="{{ content.icon }}"></i>
                    </div>
                    <h3>{{ content.title }}</h3>
                    <p>{{ content.desc }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="features-area pt-100 pb-70">
    <app-features-style-one></app-features-style-one>
</div>
<div class="about">
    <div>
        <h1 class="title">About Us</h1>
    </div>
    <div class="content">
        <p>Welcome to Fini Academy - Empowering Futures in IT!</p>
        <p>
            At Fini Academy, we are passionate about revolutionizing education
            in the field of Information Technology. As a leading provider of
            online IT courses, we take pride in offering cutting-edge learning
            experiences that prepare individuals for success in the
            ever-evolving tech landscape.
        </p>
        <h2>Our Vision</h2>
        <p>
            <strong>Empowering Through Education:</strong> Our vision is to
            empower individuals by providing accessible, high-quality IT
            education that transcends geographical boundaries. We believe in the
            transformative power of education to unlock new opportunities and
            drive positive change in the world.
        </p>
        <h2>What Sets Us Apart</h2>
        <ul>
            <li>
                <strong>Comprehensive Online Courses:</strong> Dive into a world
                of learning with our comprehensive online courses. From beginner
                to advanced levels, our curated curriculum is designed to equip
                you with the skills and knowledge needed to thrive in the IT
                industry.
            </li>
            <li>
                <strong>Expert Instructors:</strong> Learn from industry experts
                and seasoned professionals who bring real-world insights to the
                virtual classroom. Our instructors are dedicated to your
                success, providing mentorship and guidance throughout your
                learning journey.
            </li>
            <li>
                <strong>Hands-On Projects:</strong> Gain practical experience
                through hands-on projects that simulate real-world scenarios. We
                believe in learning by doing, and our courses are crafted to
                ensure you can apply your knowledge in practical situations.
            </li>
        </ul>
        <h2>Our Presence in Pune, India</h2>
        <p>
            In addition to our online offerings, we are proud to extend our
            educational impact to the vibrant city of Pune, India. Our offline
            courses provide a unique opportunity for local learners to engage in
            face-to-face interactions, networking, and collaborative learning.
        </p>
        <h2>Why Choose Fini Academy</h2>
        <ul>
            <li>
                <strong>Flexible Learning:</strong> Our online courses are
                designed to fit your schedule, allowing you to learn at your own
                pace from the comfort of your home
            </li>
            <li>
                <strong>Industry-Relevant Content:</strong> Stay ahead of the
                curve with courses that cover the latest trends and technologies
                in the IT industry.
            </li>
            <li>
                <strong>Community Support:</strong> Join a community of
                like-minded learners, where you can exchange ideas, seek advice,
                and build connections that last a lifetime.
            </li>
        </ul>
        <h2>Get Started on Your IT Journey Today!</h2>
        <p>
            Whether you're a beginner looking to enter the IT field or a
            seasoned professional seeking to upskill, Fini Academy is your
            trusted partner on your educational journey. Join us in shaping the
            future of IT!
        </p>
    </div>
</div>
<div>
    <button
        *ngIf="showScrollTopButton"
        class="scroll-top-btn"
        (click)="scrollToTop()"
    >
        <span>
            <i class="fa-solid fa-angle-up fa-lg"></i>
        </span>
    </button>

    <!-- Register Button -->
    <button
        *ngIf="showRegisterButton"
        class="register-btn"
        (click)="navigateToRegister()"
    >
        <span>Register</span>
    </button>
</div>

<app-index-footer></app-index-footer>
