<app-index-navbar></app-index-navbar>

<div *ngIf="data">
    <div class="page-title-area">
        <div class="container">
            <div class="page-title-content">
                <h2>{{ data.pageBannerTitle }}</h2>
            </div>
        </div>
        <div class="shape9">
            <img src="assets/img/shape/shape8.svg" alt="image" />
        </div>
    </div>

    <div class="container contact-area ptb-100">
        <div class="contact-info title">
            <span class="sub-title">{{ data.subtitle }}</span>
            <h2>{{ data.title }}</h2>
            <p>{{ data.desc }}</p>
        </div>

        <div class="center-section">
            <div
                class="contact-form"
                style="
                    background-image: url(../../../../../assets/contact-bg.avif);
                "
            >
                <h2>{{ data.formTitle }}</h2>
                <p>{{ data.subText }}</p>
                <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-lg-12 col-md-6">
                            <div class="form-group">
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Your name"
                                    formControlName="name"
                                />
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-6">
                            <div class="form-group">
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Your email address"
                                    formControlName="email"
                                />
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="Your phone number"
                                    formControlName="phoneNumber"
                                />
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="radio">
                                <div class="form-group radio">
                                    <input
                                        class="radio-input"
                                        type="radio"
                                        name="userType"
                                        id="student"
                                        formControlName="userType"
                                        value="student"
                                    />
                                    <label class="radio-label">Student</label>
                                </div>
                                <div class="form-group radio">
                                    <input
                                        class="radio-input"
                                        type="radio"
                                        name="userType"
                                        id="working"
                                        formControlName="userType"
                                        value="working"
                                    />
                                    <label class="radio-label">Working</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <textarea
                                    cols="30"
                                    rows="5"
                                    class="form-control"
                                    placeholder="Write your message..."
                                    formControlName="message"
                                ></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <button
                                type="submit"
                                class="default-btn"
                                [disabled]="!contactForm.valid"
                            >
                                Send Message
                                <span></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div id="map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7568.438776410833!2d73.88793834084268!3d18.473719130442806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2ea639d1975b5%3A0x947cf7fc380755!2sKausar%20Baugh%2C%20Kondhwa%2C%20Pune%2C%20Maharashtra%20411048!5e0!3m2!1sen!2sin!4v1702554758130!5m2!1sen!2sin"
                ></iframe>
            </div>
        </div>

        <div class="contact-info details">
            <ul class="address">
                <li *ngFor="let item of data.contactInfo">
                    <div class="icon">
                        <i class="{{ item.icon }}"></i>
                    </div>
                    <h3>{{ item.title }}</h3>
                    <p *ngIf="item.location">{{ item.location }}</p>
                    <p *ngIf="item.phoneNumber">
                        Mobile:
                        <a href="tel:{{ item.phoneNumber }}">{{
                            item.phoneNumber
                        }}</a>
                    </p>
                    <p *ngIf="item.email">
                        Mail:
                        <a href="mailto:{{ item.email }}">{{ item.email }}</a>
                    </p>
                    <p *ngIf="item.hoursOfOperation1">
                        {{ item.hoursOfOperation1 }}
                    </p>
                    <p *ngIf="item.hoursOfOperation2">
                        {{ item.hoursOfOperation2 }}
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>

<app-index-footer></app-index-footer>
