<div class="profile-authentication-area login-bg ptb-100">
    <div class="container login-section">
        <div class="login-form">
            <h2>Login</h2>
            <form [formGroup]="logForm" (ngSubmit)="onLogin()">
                <div class="form-group">
                    <label>Email</label>
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Email"
                        formControlName="identifier"
                    />
                    <div
                        class="error-message"
                        *ngIf="
                            logForm.get('identifier').hasError('required') &&
                            logForm.get('identifier').touched
                        "
                    >
                        Email is required.
                    </div>
                    <div
                        class="error-message"
                        *ngIf="
                            logForm.get('identifier').hasError('email') &&
                            logForm.get('identifier').touched
                        "
                    >
                        Please enter a valid email address.
                    </div>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input
                        type="password"
                        class="form-control"
                        placeholder="Password"
                        formControlName="password"
                    />
                    <div
                        class="error-message"
                        *ngIf="
                            logForm.get('password').hasError('required') &&
                            logForm.get('password').touched
                        "
                    >
                        Password is required.
                    </div>
                    <div
                        class="error-message"
                        *ngIf="
                            logForm.get('password').hasError('minlength') &&
                            logForm.get('password').touched
                        "
                    >
                        Password must be at least 6 characters long.
                    </div>
                    <p><a class="forget" href="/">Forget Password?</a></p>
                </div>
                <button type="submit">Login</button>
                <div>
                    <span
                        >Don't have an account?
                        <a routerLink="/profile-authentication/register"
                            ><strong class="reg">Register</strong></a
                        ></span
                    >
                </div>
                <div class="or">
                    <hr />
                    <span>OR</span>
                    <hr />
                </div>
                <button class="google">
                    <img
                        class="google-icon"
                        src="../../../../../assets/icons8-google-48.png"
                        alt="Google"
                    />
                    Login with Google
                </button>
            </form>
        </div>
    </div>
</div>
