video {
    width: 100%;
    border: 5px solid #eeeeee;
}
.single-video {
    position: relative;
}
.empty {
    text-align: center;

    .default-btn {
        padding: {
            left: 30px;
            right: 30px;
        };
    }
}